@model IEnumerable<voteCollector.Models.Groupu>

@{
    ViewData["Title"] = "Index";
}

<div>
    <a asp-action="RedirectTo">Вернуться на главную</a>
</div>

<br />

<p>
    <a asp-action="Create" class="btn btn-outline-success"><i class="far fa-plus-square"></i>Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdGroup">Править</a> |
                <a asp-action="Delete" asp-route-id="@item.IdGroup">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>


