@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style>
        body {
            /*background: url("http://localhost/CollectVoters/img/Orenburg_black_with.jpg") no-repeat center center fixed;*/
            background: url("/img/Orenburg_black_with.jpg") no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
    @*<p><img src="~/img/Orenburg_black_with.jpg" width="100"></p>*@
</body>

