@model voteCollector.Models.District

@{
    ViewData["Title"] = "Edit";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}


<hr />
<div class="row">
    <input type="hidden" id="RequestVerificationToken"
           name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdDistrict" />
            @*<div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="ElectoralDistrictId" class="control-label"></label>
                <select asp-for="ElectoralDistrictId" class="form-control" asp-items="ViewBag.ElectoralDistrictId"></select>
                <span asp-validation-for="ElectoralDistrictId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ElectoralDistrictGovDumaId" class="control-label"></label>
                <select asp-for="ElectoralDistrictGovDumaId" class="form-control" asp-items="ViewBag.ElectoralDistrictGovDumaId"></select>
                <span asp-validation-for="ElectoralDistrictGovDumaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ElectoralDistrictAssemblyLawId" class="control-label"></label>
                <select asp-for="ElectoralDistrictAssemblyLawId" class="form-control" asp-items="ViewBag.ElectoralDistrictAssemblyLawId"></select>
                <span asp-validation-for="ElectoralDistrictAssemblyLawId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StationId" class="control-label"></label>
                <select asp-for="StationId" class="form-control" asp-items="ViewBag.StationId"></select>
                <span asp-validation-for="StationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
